body {
  font: 20px/1.5 'Ubuntu', sans-serif;
  color: #F0E7D5;
  background: #555 url('/img/asphalt.png');
}

.videogular-container, .carousel3d-container, .common-container {
    margin: auto;
}

.videogular-container {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container, .carousel3d-container, .common-container {
        width: 1170px;
    }
    .videogular-container {
        height: 658px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container, .carousel3d-container, .common-container {
        width: 940px;
    }
    .videogular-container {
        height: 528px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container, .carousel3d-container, .common-container {
        width: 728px;
    }
    .videogular-container {
        height: 409px;
    }
}

.gray-light {
    background-color: #777;
}
